.App {
  text-align: center;
}
.nav{
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  
}

.App-header {
  background-color:aquamarine;
  min-height: 100vh;
  color:black;
}
.email{
  width: 30%;
  
}
.contraseña{
  width: 30%;
 
}
